/*header部分开始*/

/*公共样式*/
header{
}
.head_container{
	width: 100%;
	margin: 0 auto;
	background: #333;
}
nav{
	width: 1226px;
	margin: 0 auto;
	line-height: 40px;
	font-size: 12px;
	height: 40px;
	color: #b0b0b0;
}
nav > ul > li a{
	color: #b0b0b0;
}
.nav_list_left{
	float: left;
}
.nav_list_right{
	float: right;
}
.nav_list_left li,.nav_list_right li{
	float: left;
}
/*鼠标滑过*/
.nav_list_left li:hover a,.nav_list_right li:hover a{
	color: #fff;
}

/*各自样式*/
/*左列表*/
.nav_list_left li{
	position: relative;
}
.nav_list_left li:not(.nav_list_left_last):after{
	content: "|";
	display:inline;
	color: #424242;
	margin: 0 .5em;
}
.app{
	position: relative;
}
.appcode{
	position: absolute;
	left: -64%;
	width: 124px;
	height: 0px;
	overflow: hidden;
	box-shadow: 0 1px 5px #aaa;
	font-size: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	transition: height .3s;
	cursor: pointer;
}
.appcode img{
	display: block;
}
.appcode span{
	font-size: 14px;
	line-height: 14px;
	color: #000;
	margin-top: 10px;
}
.app .doc{
	position:absolute;
	display: none;
	top: 27px;
	left: 28%;
	border-top: 5px solid transparent;
	border-left: 8px solid transparent;
	border-right:8px solid transparent;
	border-bottom: 8px solid #fff;
}

.nav_list_left li:hover .appcode{
	height: 148px;
}
.nav_list_left li:hover .doc{
	display: block;
}

/*右列表*/
.login:after,.login+li:after{
	content: "|";
	display:inline;
	color: #424242;
	/*color: red;*/
	margin: 0 .5em;
}
.shop_car{
	margin-left: 1.4em;
	width: 120px;
	height: 40px;
	background: #424242;
	text-align: center;
	position: relative;
}
.shop_car:hover{
	background: #fff;
}
.shop_car:hover .shop_list{
	height: 100px;
}
.shop_car:hover i,.shop_car:hover a>span{
	color: #ff6700;
}
/*购物车仓库*/
.shop_list{
	width: 316px;
	/*height: 100px;*/
	height: 0px;
	background: #fff;
	position: absolute;
	top: 40px;
	right: 0px;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 0 1px 5px #aaa;
	overflow: hidden;
	transition: height .3s;

}
.shop_list span{
	color: #000;
}
/*header部分结束