/*header部分开始*/

/*公共样式*/
header{
}
.head_container{
	width: 100%;
	margin: 0 auto;
	background: #333;
}
nav{
	width: 1226px;
	margin: 0 auto;
	line-height: 40px;
	font-size: 12px;
	height: 40px;
	color: #b0b0b0;
}
nav > ul > li a{
	color: #b0b0b0;
}
.nav_list_left{
	float: left;
}
.nav_list_right{
	float: right;
}
.nav_list_left li,.nav_list_right li{
	float: left;
}
/*鼠标滑过*/
.nav_list_left li:hover a,.nav_list_right li:hover a{
	color: #fff;
}

/*各自样式*/
/*左列表*/
.nav_list_left li{
	position: relative;
}
.nav_list_left li:not(.nav_list_left_last):after{
	content: "|";
	display:inline;
	color: #424242;
	margin: 0 .3em;
}
.app{
	position: relative;
}
.appcode{
	position: absolute;
	left: -64%;
	width: 124px;
	height: 0px;
	overflow: hidden;
	/*background: red;*/
	box-shadow: 0 1px 5px #aaa;
	font-size: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	transition: height .3s;
}
.appcode img{
	display: block;
}
.appcode span{
	/*background: blue;*/
	font-size: 14px;
	color: #000;
}
.app .doc{
	position:absolute;
	display: none;
	top: 27px;
	left: 28%;
/*	border-top: transparent;
	border-left: transparent;
	border-right: transparent;*/
	/*border-bottom: 5px solid red;*/
	border-top: 5px solid transparent;
	border-left: 8px solid transparent;
	border-right:8px solid transparent;
	border-bottom: 8px solid #fff;
}

.nav_list_left li:hover .appcode{
	height: 148px;
}
.nav_list_left li:hover .doc{
	display: block;
}
/*header部分结束